.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity-ET6/Library
/Unity-ET6/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity-ET6/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity-ET6/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity-ET6/Logs
/Unity-ET6/Assets/StreamingAssets/
/netcoreapp2.0
/Unity-ET6/Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/Unity-ET6/.gradle
/*.user
/ToolsApp/
/Unity-ET6/Unity.Editor.csproj
/Unity-ET6/Unity.Hotfix.csproj
/Unity-ET6/Unity.HotfixView.csproj
/Unity-ET6/Unity.Model.csproj
/Unity-ET6/Unity.ModelView.csproj
/Unity-ET6/Unity.ThirdParty.csproj
